html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, em, strong, ol, ul, li, form, footer, header,
menu, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

.PageTitle {
    text-align: center;
    font-size: 4rem;
    background-color: rgb(41, 139, 244);
    padding: 1rem 0 2rem 0;
}

.left-right {
    display: flex;
}

.editPersonalComponent, .editExperinceComponent,
.editEducationComponent {
    padding: 1rem;
}

.PersonalTitle {
    font-size: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}

.personalForm, .experienceForm, .educationForm {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgb(201, 225, 250);
    border-radius: .5rem;
    border: 1px solid black;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.personalInput, .companyName, .position,
.schoolName, .degree {
    width: 75%;
    margin: .25rem;
    height: 2rem;
    border-radius: .5rem;
    padding-left: 1rem;
    width: 90%;
}

label{
    align-self:first baseline;
    margin: .25rem 0 .25rem 2rem;
    width: 90%;
}

.right, .left {
    width: 50vw;
}

.addExperience, .addEducation {
    font-size: 1.25rem;
    padding: .5rem;
    background-color: rgb(0, 77, 159);
    border-radius: .5rem;
    border: none;
    color: white;
    cursor: pointer;
}