html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, em, strong, ol, ul, li, form, footer, header,
menu, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

.PageTitle {
    text-align: center;
    font-size: 4rem;
    background-color: rgb(41, 139, 244);
    padding: 1rem 0 2rem 0;
}

.left-right {
    display: flex;
}

.editPersonalComponent, .editExperinceComponent,
.editEducationComponent {
    padding: 1rem;
}

.PersonalTitle {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}